.option-btn {
  width: 70%;
  margin-top: 50px;
  font-size: 4vw;
  padding: 10px;
  color:  #000;               
  margin:  10px;    
  align-items: center;
  border-radius:  10px;        
  background-color: #ffbc04;
  text-align: center;
  box-shadow:  3px 3px 0 #555;
  transition: .25s;
}
.option-btn:hover {
  box-shadow: 1px 1px 0 #555;
}