.title{
    font-size: 100px;
    text-align: center;
    margin-top: 60px;
}

.result{
    font-size: 70px;
    text-align: center;
}

p{
    font-size: 50px;
    text-align: center;
}

.bon{
    text-align: center;
    size: 90px;
}